.bg-accent-outline {
    border: 2px solid var(--accent-primary);
    border-radius: 0;
    padding: 5px 25px;
    transition: all .25s ease-in-out;
}

.bg-accent-outline:hover {
    border: 2px solid var(--accent-primary);
    background: var(--accent-primary);
    color: white;
}

.btn-main {
    background: var(--accent-primary);
    padding: 10px 25px;
    transition: all .25s ease-in-out;
    text-decoration: none;
}

.btn-main:hover {
    background: var(--accent-secondary);
    text-decoration: none;
}

.btn-outline a,
a.btn-outline {
    border: 2px solid;
    border-style: double;
    padding: 10px 35px !important;
    display: inline-block;
    transition: all .25s ease-in-out;
}

.btn-outline a:hover,
a.btn-outline:hover {
    background: var(--accent-primary);
    /* color: black !important; */
    text-decoration: none;
    color: white;
}

.text-white a.btn-outline:hover,
.btn-outline:hover a {
    background: white;
    color: var(--accent-primary) !important;
}